
<div class="container">
    <div class="row gap-4">
        <div class="col-lg-3">
            <div class="card h-100 bg-light rounded-24">
                <div class="text-center py-4">
                    <img src="./assets/images/teacher01.jpg" alt="teacher01" class="card-img-top rounded-circle mb-2">
                    <span class="d-block">Belinda</span>
                </div>
                <div class="card-body px-5 py-0">
                    <ul class="list-unstyled">
                        <li class="card-title fs-6 fw-bold">基礎前端 - HTML</li>
                        <li class="card-subtitle text-primary mb-2">前端語言</li>
                        <li 
                            <% if (current == 'index') { %>
                                <%= 'class=ellipsis' %>
                            <% } %>
                            >
                            帶領無基礎的平民老百姓，從最基礎的 HTML
                            語法出發，使用最淺顯易懂的語言與生活隨處可見的例子，輕鬆進入網頁架設的世界，完成一個基礎的網頁架設。</li>
                    </ul>
                </div>
                <div class="card-footer py-3 border-gray-100">
                    <ul class="list-unstyled d-flex justify-content-center align-items-center mb-0">
                        <li class="me-2">50分鐘</li>
                        <li class="fs-2 mb-0 font-Azeret">NT$1600</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100 bg-light rounded-24">
                <div class="text-center py-4">
                    <img src="./assets/images/teacher01.jpg" alt="teacher01" class="card-img-top rounded-circle mb-2">
                    <span class="d-block">Belinda</span>
                </div>
                <div class="card-body px-5 py-0">
                    <ul class="list-unstyled">
                        <li class="card-title fs-6 fw-bold">基礎前端 - HTML</li>
                        <li class="card-subtitle text-primary mb-2">前端語言</li>
                        <li class="ellipsis">帶領無基礎的平民老百姓，從最基礎的 HTML 語法出發，使用最淺顯易懂的語言與生活隨處可見的例子，輕鬆進入網頁架設的世界，完成一個基礎的網頁架設。
                        </li>
                    </ul>
                </div>
                <div class="card-footer py-3 border-gray-100">
                    <ul class="list-unstyled d-flex justify-content-center align-items-center mb-0">
                        <li class="me-2">50分鐘</li>
                        <li class="fs-2 mb-0 font-Azeret">NT$1600</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100 bg-light rounded-24">
                <div class="text-center py-4">
                    <img src="./assets/images/teacher01.jpg" alt="teacher01" class="card-img-top rounded-circle mb-2">
                    <span class="d-block">Belinda</span>
                </div>
                <div class="card-body px-5 py-0">
                    <ul class="list-unstyled">
                        <li class="card-title fs-6 fw-bold">基礎前端 - HTML</li>
                        <li class="card-subtitle text-primary mb-2">前端語言</li>
                        <li class="ellipsis">帶領無基礎的平民老百姓，從最基礎的 HTML 語法出發，使用最淺顯易懂的語言與生活隨處可見的例子，輕鬆進入網頁架設的世界，完成一個基礎的網頁架設。
                        </li>
                    </ul>
                </div>
                <div class="card-footer py-3 border-gray-100">
                    <ul class="list-unstyled d-flex justify-content-center align-items-center mb-0">
                        <li class="me-2">50分鐘</li>
                        <li class="fs-2 mb-0 font-Azeret">NT$1600</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100 bg-light rounded-24">
                <div class="text-center py-4">
                    <img src="./assets/images/teacher01.jpg" alt="teacher01" class="card-img-top rounded-circle mb-2">
                    <span class="d-block">Belinda</span>
                </div>
                <div class="card-body px-5 py-0">
                    <ul class="list-unstyled">
                        <li class="card-title fs-6 fw-bold">基礎前端 - HTML</li>
                        <li class="card-subtitle text-primary mb-2">前端語言</li>
                        <li class="ellipsis">帶領無基礎的平民老百姓，從最基礎的 HTML 語法出發，使用最淺顯易懂的語言與生活隨處可見的例子，輕鬆進入網頁架設的世界，完成一個基礎的網頁架設。
                        </li>
                    </ul>
                </div>
                <div class="card-footer py-3 border-gray-100">
                    <ul class="list-unstyled d-flex justify-content-center align-items-center mb-0">
                        <li class="me-2">50分鐘</li>
                        <li class="fs-2 mb-0 font-Azeret">NT$1600</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-auto text-center">
            <a href="courses.html" class="btn bg-gradient px-5 py-2 fs-7 rounded-8">所有課程列表</a>
        </div>
    </div>
</div>