<nav class="navbar navbar-expand-md border-bottom border-2 gradient-border sticky-top bg-dark">
    <div class="container d-flex py-3 align-items-center">
        <a href="index.html">
            <img src="./assets/images/logo.svg" alt="logo-md" class="logo d-none d-md-block">
            <img src="./assets/images/logo2.svg" alt="logo-sm" class="logo d-block d-md-none">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons text-primary">drag_handle</span>
        </button>
        <div class="collapse navbar-collapse justify-content-end mt-3 mt-md-0" id="navbarCollapse">
            <ul class="list-unstyled navbar-nav mb-0">
                <li class="me-6 mb-2 mb-md-0">
                    <a href="index.html">首頁</a>
                </li>
                <li class="me-6 mb-2 mb-md-0">
                    <a href="courses.html">課程介紹</a>
                </li>
                <li>
                    <a href="#" class="d-flex align-items-center">
                        <span class="material-icons me-1">account_circle</span>
                        登入
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
</nav>